<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content='text/html; charset=utf-8' />
	<meta http-equiv="refresh" content="1;URL={REDIRECT_URL}" />
</head>
<body>
	<ul>
		<li><a href='{REDIRECT_URL}'>точки на nakarte.me</a>
	</ul>
</body>
</html>
